@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

body {
    font-family: 'Noto Sans KR', 'Roboto';
    cursor: url('./Img/Q.png'),auto;
    line-height: 33px;
    letter-spacing : -.5px;
    background-color: #000000;
}

h1, p {
    margin: 0;
}

.container {
    width:1270px;
    margin:0 auto;
    }

header img {
    width: 5.5vh;
    padding: 0.75rem 0;
}
header > div {display: flex;justify-content: space-between;align-items: center;}
header h1 {position:absolute;left:-2000px;}
header nav ul {display:flex;text-align: right;}
header nav ul li {padding: 20px 10px;width: 88px;}

header {
    background-color: #000000;
  }
header nav ul li {padding: 0 5px;width: 100px;}
header nav ul li a {
                position:relative;
                display:inline-block;
                line-height:3rem;
                text-align: center;
                font-weight: bold;font-size:1rem;
                color: #fff;
                }
header nav ul li.active a {color: #00ffcc;}
a{
    text-decoration: none; 
    font-weight:bold;
    transition: color 1s;
  }
  a:visited, a:linked {
    color: #000000;
  }
  
  a:hover {
    color: #ff0000;
  }

  #main {
      position: relative;
      width: 100%;
      height: 2100px;
      background-image: url(./Img/How_To.png); 
      background-repeat: no-repeat center center fixed;
      background-size: cover;
  }

#contents {
    position: absolute;
    top: 125px;
    width: 1200px;
    margin-left: 150px;
    font-size: 1.2rem;
}

#contents1 {
    position: absolute;
    top:105px;
    transform: translateY(344px);
    width: 1000px;
    margin-left: 300px;
    font-size: 1.2rem;
}

#contents2 {
    position: absolute;
    top: 193px;
    transform: translateY(553px);
    width: 1000px;
    margin-left: 300px;
    font-size: 1.2rem;
}

#contents3 {
    position: absolute;
    top: 183px;
    transform: translateY(1083px);
    width: 1200px;
    margin-left: 300px;
    font-size: 1.2rem;
}

#contents4 {
    position: absolute;
    top: 360px;
    transform: translateY(1042px);
    width: 1200px;
    margin-left: 330px;
    font-size: 1.2rem;
    line-height: 40px;
}


#imgcontainer {
    cursor: url('./Img/Checkpoint.png'),auto;
    position:absolute;
    top: 1398.6px;
    margin-left: 290px;
}

#imgcontainer1 {
    cursor: url('./Img/Checkpoint.png'),auto;
    position:absolute;
    top:1523.1px;
    margin-left: 290px;
}

#imgcontainer2 {
    cursor: url('./Img/Checkpoint.png'),auto;
    position:absolute;
    top:1563.6px;
    margin-left: 290px;
}

#imgcontainer3 {
    cursor: url('./Img/Checkpoint.png'),auto;
    position:absolute;
    top:1603.5px;
    margin-left: 290px;
}

#imgcontainer4 {
    cursor: url('./Img/Checkpoint.png'),auto;
    position:absolute;
    top:1644.3px;
    margin-left: 290px;
}

#imgcontainer5 {
    cursor: url('./Img/Checkpoint.png'),auto;
    position:absolute;
    top:1684px;
    margin-left: 290px;
}

#top {
    position:absolute;
    top: 220%;
    padding-left: 80%;
}